mat-toolbar a {
  text-transform: uppercase;
  display: flex;
}

.spacer {
  flex-grow: 1;
}

.active-link {
  color: black;
}
.links{
  display: flex;
}
.menu-btn{
  display: none;
}

@media screen and (max-width: 600px){
  .menu-btn{
    display: block;
  }
  .links{
    display: none;
  }
}
