<mat-toolbar color="warn">
  <a mat-button routerLink="/dashboard" routerLinkActive="active-link">Dashboard</a>
  <a mat-button routerLink="/generate-form" routerLinkActive="active-link">Generate form</a>
  <a mat-button routerLink="/settings" routerLinkActive="active-link">Settings</a>
  <div class="spacer"></div>
  <button mat-button [matMenuTriggerFor]="menu">
    <span>{{authService.loggedInUser.firstName}} {{authService.loggedInUser.lastName}}</span>
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #menu="matMenu" xPosition="before">
    <button mat-menu-item (click)="authService.logout()">
      Logout
    </button>
  </mat-menu>
</mat-toolbar>
