<form class="container" #form="ngForm" (ngSubmit)="form.valid && onSubmit(form.value)">
  <h2>Tax form generator</h2>
  <div class="login-input">
    <div class="message" *ngIf="!credentialsCorrect">Email and/or password incorrect</div>
    <mat-form-field appearance="outline">
      <mat-label>E-mail</mat-label>
      <input name="email" matInput type="email" placeholder="E-mail" required email ngModel #emailFormControl="ngModel">
      <mat-error *ngIf="emailFormControl.hasError('required')">Company email is required.</mat-error>
      <mat-error *ngIf="emailFormControl.hasError('email')">Invalid email.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input name="password" matInput type="password" placeholder="Password" required minlength="6" ngModel #passwordFormControl="ngModel">
      <mat-error *ngIf="passwordFormControl.hasError('required')">Password is required.</mat-error>
      <mat-error *ngIf="passwordFormControl.hasError('minlength')">Minimum Length is 6.</mat-error>
    </mat-form-field>
  </div>
  <div class="btn-submit">
    <button mat-raised-button color="warn" type="submit">Login</button>
  </div>
  <div class="links">
    <a routerLink="/register">Create account</a>
    <a routerLink="/register">Forgot password</a>
  </div>
</form>


